<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 class="bg-primary text-white text-center p-4 font-weight-bold">
      <%= title %>
    </h1>
    <div class="container mt-4">
      <div class="alert alert-light">
        <form action="/" method="POST">
          <div class="form-group">
            <label for="tag1">Tag 1</label>
            <input
              name="tag1"
              type="text"
              class="form-control"
              value="<%= tag1 %>"
            />
          </div>
          <div class="form-group">
            <label for="tag2">Tag 2</label>
            <input
              name="tag2"
              type="text"
              class="form-control"
              value="<%= tag2 %>"
            />
          </div>
          <div class="form-group">
            <label for="tag3">Tag 3</label>
            <input
              name="tag3"
              type="text"
              class="form-control"
              value="<%= tag3 %>"
            />
          </div>
          <div class="form-group">
            <label for="tag4">Tag 4</label>
            <input
              name="tag4"
              type="text"
              class="form-control"
              value="<%= tag4 %>"
            />
          </div>
          <div class="form-group">
            <label for="tag5">Tag 5</label>
            <input
              name="tag5"
              type="text"
              class="form-control"
              value="<%= tag5 %>"
            />
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="featured" />
            <label class="form-check-label" for="featured"
              >Include Featured</label
            >
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
    <div class="container mt-4">
      <%if (template) { %>
      <div class="alert alert-info">
        <pre><%= template %></pre>
      </div>
      <% } %>
    </div>
  </body>
</html>
